*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(0deg, rgba(221,224,219,1) 81%, rgba(50,160,147,1) 81%);
    display: flex;
    justify-content: center;
    align-items: center;

    
}

/* Useful */
.img-name{
    display: flex;
    align-items: center;
}

.img-name img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.img-name h4{
    margin-right: 40px;
}

.tipical li{
    display: inline-block;
    list-style: none;
    margin-right: 10px;


}

.tipical li:last-child{
    margin-right: none;
}

.tipical li a{
    text-decoration: none;
    color: #bababa;
    font-size: 20px;
}

/* app */
.big-container{
    width: 82%;
    min-width: 900px;
    height: 95%;
    background: white;
    display: flex;
}


/* left container */

.left-container{
    flex-basis: 35%;
    
}

/* header left container */

.left-container .header-left-side{
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}





/* notifiche */

.left-container .notifiche{
    background-color: #a2dffe;
    padding: 15px;
    display: flex;
}

.left-container .notifiche i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f5fcff;
    color: #a2dffe;
    text-align: center;
    line-height: 2;
    font-size: 20px;
    margin-right: 10px;
    
}

.left-container .notifiche h5{
    color: #688ea2;
    margin-top: 5px;
    text-decoration: underline;
}

/* search chat */
.left-container .search-chat{
    background-color: #fbfbfb;
    padding: 10px;
    
}

.left-container .search-chat .search-bar{
    display: flex;
    border: 1px solid #f6f6f6;
    background: #ffffff;
    
}

.left-container .search-chat .search-button{
    border-right: 1px solid #f6f6f6;
}

.left-container .search-chat .search-button i{
    color: #bababa;
    margin: 8px 23px;
    text-align: center;
    
    
}

.left-container .search-chat input{
    width: 100%;
    border: 0px solid;
    transition: background .3s;
    padding-left: 10px;
    font-size: 11px;
    
    
}

.left-container .search-chat input:focus{
    outline: none;
}
    
.left-container .search-chat input:hover{
    background-color: #8080804a;
}

/* main left side */


.left-container .main-left-side li{
    display: flex;
    align-items: center;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #f6f6f6;
    transition: background-color .3s;
    cursor: pointer;
}

.left-container .main-left-side li:hover{
    background-color: honeydew;
} 



.left-container .main-left-side li:last-child{
    border: none;
    
}

.left-container .main-left-side li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #f4f4f4;
}
    
/* main container */
.main-container{
    background-image: url('../img/mine.jpg');
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

/* header middle side */



.main-container .header-middle-side{
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-left: 1px solid #dbdbdb;
    

}


.main-container .didascalia h5{
    color: #688ea2;
    margin-top: 5px;
}


/* main middle side  */
.main-middle-side{
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}


/* classe dinamica */

.messRight{
    display: flex;
    justify-content: right;
    align-items: end;
    width: 100%;
    height: 114px; 
    padding: 10px 85px;
    
}
    
.messLeft{
    display: flex;
    justify-content: left;
    width: 100%;
    height: 114px; 
    padding: 10px 85px;
    
    
    
}



    

.main-middle-side h4{
    text-align: left;
}

.main-middle-side h6{
    text-align: right;
    color: #688ea2;
    font-size: 10px;
}


.main-middle-side .mine{
    background-color: #ddfabf;
    width: 320px;
    height: 53px;
    border-radius: 10px;
    padding: 10px;
}
    

.main-middle-side .your{
    background-color: white;
    width: 320px;
    height: 53px;
    border-radius: 10px;
    padding: 10px;
    
}


/* foot middle side */
.foot-middle-side{
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    
    
    
}

.foot-middle-side input{
    width: 83%;
    border: 0px solid;
    transition: background .3s;
    padding-left: 30px;
    font-size: 15px;
    height: 232%;
    border-radius: 10px;
    
    
}

.foot-middle-side input:focus{
    outline: none;
}
    
.foot-middle-side input:hover{
    background-color: whitesmoke;
}

.foot-middle-side i{
    color: #bababa;
    font-size: 25px;
    margin: 0 10px;
    cursor: pointer;
}

/* hover icone */
.tipical i:hover,
.foot-middle-side i:hover{
    color: #777e82;

}


