*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(0deg, rgba(221,224,219,1) 81%, rgba(50,160,147,1) 81%);
    display: flex;
    justify-content: center;
    align-items: center;

    
}

/* Useful */
.img-name{
    display: flex;
    align-items: center;
}

.img-name img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.img-name h4{
    margin-right: 40px;
}

.tipical li{
    display: inline-block;
    list-style: none;
    margin-right: 10px;


}

.tipical li:last-child{
    margin-right: none;
}

.tipical li a{
    text-decoration: none;
    color: #bababa;
    font-size: 20px;
}

/* app */
.big-container{
    width: 70%;
    height: 94%;
    background: white;
    display: flex;
}

/* left container */

.left-container{
    width: 40%;
    
}

/* header left container */

.left-container .header-left-side{
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}





/* notifiche */

.left-container .notifiche{
    background-color: #a2dffe;
    padding: 15px;
    display: flex;
}

.left-container .notifiche i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f5fcff;
    color: #a2dffe;
    text-align: center;
    line-height: 2;
    font-size: 20px;
    margin-right: 10px;
    
}

.left-container .notifiche h5{
    color: #688ea2;
    margin-top: 5px;
    text-decoration: underline;
}

/* search chat */
.left-container .search-chat{
    background-color: #fbfbfb;
    padding: 10px;
    
}

.left-container .search-chat .search-bar{
    display: flex;
    border: 1px solid #f6f6f6;
    background: #ffffff;
    
}

.left-container .search-chat .search-button{
    border-right: 1px solid #f6f6f6;
}

.left-container .search-chat .search-button i{
    color: #bababa;
    margin: 8px 23px;
    text-align: center;
    
    
}

.left-container .search-chat input{
    width: 100%;
    border: 0px solid;
    transition: background .3s;
    padding-left: 10px;
    font-size: 11px;
    
    
}

.left-container .search-chat input:focus{
    outline: none;
}
    
.left-container .search-chat input:hover{
    background-color: #8080804a;
}

/* main left side */


.left-container .main-left-side li{
    display: flex;
    align-items: center;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #f6f6f6;
    transition: background-color .3s;
    cursor: pointer;
}

.left-container .main-left-side li:hover{
    background-color: honeydew;
} 



.left-container .main-left-side li:last-child{
    border: none;
    
}

.left-container .main-left-side li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #f4f4f4;
}
    
/* main container */
.main-container{
    background-image: url('../img/mine.jpg');
    width: 60%;
    
}


.main-container .header-middle-side{
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-left: 1px solid #dbdbdb;

}


